#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo:hover {
  filter: drop-shadow(0 0 2em #ff6464);
}

.under-construction {
  color: #888;
}
